* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/BackGroundQuiz.jpg);
    background-size: cover;
    background-position: center;
}

.logo_fadein {
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
}

.logo_fadein p {
    position: fixed;
    left: 33%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 9999;
    width: 280px;
}


.main {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 1.1rem;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.QuizLogo img {
    width: 60%;
}



.DownLoad {
    padding-left: 40px;
    font-size: 0.9rem;
    color: rgb(230, 247, 248);
    padding-right: 10px;
}

.DownLoad a {
    color: #defcfb;
    text-decoration: none;
}

.Explanation {
    display: inline-block;
    color: #d3d3d3;
    margin: 5vw;
    border: 1.5px solid #aaaaaa;
    padding: 10px;
}

.FlexBox {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    align-items: center;
    margin-right: 5vw;
    top: 30vh;
    right: 2vw;
}


.PreViewEx {

    font-size: 13px;
    color: #d3d3d3;
}

.Notes {
    position: absolute;
    display: inline-block;
    color: #d3d3d3;
    left: 5vw;
    border: 1.5px solid #aaaaaa;
    padding: 10px;
    top: 80vh;
    left: 5vw;
}


@media screen and (max-width:1100px) {
    .Flexmedia {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
    }

    .FlexBox {
        position: static;
        margin: auto;
    }

    .Notes {
        position: static;
    }
}